modules = ["nodejs-24", "python-3.11"]
run = "pnpm run start:replit"
run = "pnpm run start:replit"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.production]

[userenv.shared]
FLUTTERWAVE_SECRET_KEY = "FLWSECK-7315c00814ad5462e87f3927c1ee1248-19f42ae25eavt-X"
FLUTTERWAVE_ENCRYPTION_KEY = "7315c00814ad2fd97ad80312"
BILLING_CURRENCY = "NGN"
FLUTTERWAVE_PUBLIC_KEY = "FLWPUBK-09f7b95143a685bf4f0531f281833692-X"
BILLING_AMOUNT_SILVER = "500"
BILLING_AMOUNT_GOLD = "1000"
BILLING_AMOUNT_DIAMOND = "1500"
