PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET=change_me_unique_levis_access
JWT_REFRESH_SECRET=change_me_unique_levis_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
